@charset "UTF-8";

.box-1{
  position: relative;
  border-radius: 30px;
  width: 500px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  background:#fad296;
  border: solid 5px #8f5a0a;
  margin: 0 auto;
}

.box-1:before,.box-1:after{
  content: "";
  position: absolute;
  border: solid 20px transparent;
  top:100%;
  left: 30px;
  }

.box-1:before{
  border-top: 30px solid #8f5a0a; 
}

.box-1:after{
  border-top: 30px solid #fad296;
  margin-top: -10px;
}